<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
        <h3>It is 1391 in the year of the Lord Zeus</h3>
        <p>
            The local village, Hose (h-oe-z-uh), has survived in the mediocre lands for several generations, despite the periodic raiding party, largely because of the success in keeping most of the villagers as capable as possible!<br>
	    <img src="{{ url_for('static', filename='Village.jpg') }}" alt="Village" width="50%" height="auto"><br>
            Early on, the villagers of Hose decided to keep everyone active and trained in some adventuring capability rather than a militia!<br>
            This was because they, like many other villages, were on the outskirts of Tropolis, a large city near the meeting point of several rivers, and were therefore tasked by the local leadership with keeping the riffraff from invading.<br>
            <br>
            <b>Suddenly,</b> on a day no different than any other, the entirety of the village felt a tremendous shaking of the earth, unlike anything anyone had ever felt!<br>
            Many of the more foolish villagers cried for the earth to swallow them whole to end it quickly since obviously the entire world was being rent apart.<br>
            After everything had settled down, the leader of the village, Uzul (a monstrous, grotesque, kind and slightly cowardly Half-Orc), sent a team out to investigate for damage to the village and surrounding lands as well as see if they could identify the source.<br>
            He instructed them to start with Moonshadow Field, the best grazing field from nearby, before moving on.<br>
	    <img src="{{ url_for('static', filename='Field+Mountain.png') }}" alt="Moonshadow" width="50%" height="auto"><br>
            They returned quickly as the field had been completely Replaced by a massive castle larger than even the closest mountains, which were big enough to house several Different dwarven clans!!!<br>
	    <img src="{{ url_for('static', filename='Castle.jpg') }}" alt="Castle" width="50%" height="auto"><br>
            Uzul, not wanting to go himself, decided to hold a vote!<br>
            The people of Hose would decide to either have 6 volunteers to go explore the castle, or everyone from the village would be entered into a raffle, and 6 names would be drawn to go explore.<br>
            The villagers turned out more cowardly than expected and it was almost entirely unanimous for the raffle, hoping to not be chosen.<br>
            <br>
            <h2>You Six were the selected few and will be off to explore soon!!!</h2>
        </p>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
    </body>
</html>
