<!doctype html>
<html>
    <head>
        <title>Character Creation Details</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
        <p>
            Traditional "high fantasy" (aka. knights, dragons, wizards, etc.)<br>
            Greek Pantheon! (Think Zeus, Hera, Hades, etc.)<br>
            All of the villagers are Past, Present, or Future Adventurers!<br>
            Level 1, 2 OR 3 (1 and 2 will receive benefits, starting with additional gold, other benefits might be determined by session 1).<br>
            Point Buy out of 27 points (traditional point buy)<br>
            You all are AT LEAST familiar with each other, but talk with other player if you want your PCs to be more than that.
        </p>
        
    </body>
</html>