<footer>
    <h2 id="footnote-label">Footnotes</h2>
    <ol>
        <li id="all">Akta, however, refused to awake! It did not seem malevolent or magical, but she did not rise with the rest.<a href="#all-ref" aria-label="Back to content">↵</a></li>
        <li id="quote">paraphrasing, I don't recall _exactly_ what she said.<a href="#quote-ref" aria-label="Back to content">↵</a></li>
        <li id="link">Credit for image: <a href="https://na.finalfantasyxiv.com/lodestone/playguide/db/item/e896fb9a8f5/">https://na.finalfantasyxiv.com/lodestone/playguide/db/item/e896fb9a8f5/</a><a href="#armor-ref" aria-label="Back to content">↵</a></li>
        <li id="lang">This was later determined (by Ja'ar Visro) to be Primordial.<a href="#lang-ref" aria-label="Back to content">↵</a></li>
        <li id="journal">The entries are all very short and seem extremely disjointed. Its almost as if the writer was mad or sometimes possessed by the thoughts of another.<a href="#journal-ref" aria-label="Back to content">↵</a></li>
        <li id="timeline">Persephone told you all that you have until the autumnal equinox (3 weeks after the party at the Palatia).<a href="#timeline-ref" aria-label="Back to content">↵</a></li>
        <li id="councilof7">The Council of 7 refers to the Seventh Level of the cult that these members have achieved. They serve as Udgred's Generals.<a href="#councilof7-ref" aria-label="Back to content">↵</a></li>
        <li id="kinstus">Kinstus, an elderly tortle, was the former leader of the Eleusian Mysters and also ran Getra for a long time. Serves as primary advisor to Udgred.<a href="#kinstus-ref" aria-label="Back to content">↵</a></li>
        <li id="plequa">Plequa, a younger changling (you think?), that managed the money for the cult and lead a decently public life in Tropolis.<a href="#plequa-ref" aria-label="Back to content">↵</a></li>
        <li id="briggox">Not much is known of Briggox except that he is a fearsome warrior.<a href="#briggox-ref" aria-label="Back to content">↵</a></li>
        <li id="note">The note read: <i>Remind me to check with security about their entrance."</i><a href="#note-ref" aria-label="Back to content">↵</a></li>
        <li id="SoT">The Sea of Tropolis is a well-known rumor around Tropolis, though most of them suggest its a location and this book sort of makes it seem like its a physical object.<a href="#SoT-ref" aria-label="Back to content">↵</a></li>
        <li id="hide">Adelvir tucked himself under the billiards table before turning himself invisible and roaming freely around the space.<a href="#hide-ref" aria-label="Back to content">↵</a></li>
        <li id="desks">The desks were locked, but Duvu opened them and found 9 Patented Blueprints for what looked like everyday items, like vases, drinkware, and others.<a href="#desks-ref" aria-label="Back to content">↵</a></li>
        <li id="deeds">1 was to this home, 1 was to a sapphire mine in the nearby Oractus Bluffs, and the last was to a mine in the Unresting Slopes, which Gisli barely recognized as somewhere VERY far West.<a href="#deeds-ref" aria-label="Back to content">↵</a></li>
        {% include 'sessions/30_footers.html' %}
        {% include 'sessions/32_footers.html' %}
        {% include 'sessions/36_footers.html' %}
        {% include 'sessions/37_footers.html' %}
        {% include 'sessions/39_footers.html' %}
        {% include 'sessions/42_footers.html' %}
    </ol>
</footer>