<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
        <h3>Base details</h3>
        <p>
            <a href='/dnd/backstory'>Backstory</a>
		    <br>
            <a href='/dnd/character'>Details for Character Creation</a>
		    <br>
            <a href='/dnd/setting'>Setting Details!</a>
        </p>
        <p>
            <a href='/dnd/sessions'>Sessions!!!</a>
		    <br>
            <a href='/dnd/story'>The Overarching Storyline!</a>
            <br>
            <a href='/dnd/party'>OUR <u>PARTY!</u></a>
        </p>
    </body>
</html>
