<!doctype html>
<html>
    <head>
        <title>Apollo's Golden Lyre!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <div id="letter">
            <h2>Apollo's Golden Lyre</h2>
            <h3>(aka, The Legendary Lyre of Tropolis or Queen Alavaz's Lyre)</h3>
            <hr>
            <h5>Having restored the Silver Strings of Hecate to the Lyre, it has been restored to full power!</h5>
            <a>
                As an Action you offer a musical prayer to Apollo, each undead that can see or hear you within 30 feet of you must make a Wisdom saving throw (Against 8+ your prof bonus + your Wisdom modifier).<br>
                For 1 charge, you can cast <a href="https://tabletopjoab.com/turn-undead-5e/#Using_Turn_Undead_in_D_D_5e">Turn Undead</a>.<br>
                <ul>
                    <li>If the creature fails its saving throw, it is <a href="https://tabletopjoab.com/turn-undead-5e/#The_Turned_Effect">turned</a> for 1 minute or until it takes any damage. A turned creature must spend its turns trying to move as far away from you as it can, and it can’t willingly move to a space within 30 feet of you. It also can’t take reactions. For its action, it can use only the [Dash](https://www.dndbeyond.com/compendium/rules/basic-rules/combat#Dash) action or try to escape from an effect that prevents it from moving. If there’s nowhere to move, the creature can use the <a href="https://www.dndbeyond.com/compendium/rules/basic-rules/combat#Dodge">Dodge</a> action.</li>
                </ul>
                For 2 charges, you can cast <a href="https://tabletopjoab.com/turn-undead-5e/#How_Does_Destroy_Undead_Work_in_D_D_5e">Destroy Undead</a>.<br>
                <ul>
                    <li>
                        If the undead's CR is 4 or Lower, it is instantly destroyed upon a failed Wisdom save.
                    </li>
                </ul>
                The Lyre can hold 7 charges, but seems to only have 6 available. The Lyre requires a lost ritual to recharge 1d4 charges.<br>
            </a>
        </div>
    </body>
</html>