<!doctype html>
<html>
    <head>
        <title>Eric's Party!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
	<h1><span id="top">Party Members!</span></h1>
	<button href="#adelvir" class="button" id ="party" onclick="window.location.href = '#adelvir'">Adelvir!</button>
	<button href="#ayayron" class="button" id ="party" onclick="window.location.href = '#ayayron'">Ayayron!</button>
	<button href="#gisli" class="button" id ="party" onclick="window.location.href = '#gisli'">Gisli!</button>
    <button href="#duvu" class="button" id ="party" onclick="window.location.href = '#duvu'">Duvu!</button>
    <button href="#wrench" class="button" id ="party" onclick="window.location.href = '#wrench'">Wrench!</button>
    <button href="#akta" class="button" id ="party" onclick="window.location.href = '#akta'">Akta!</button>
    <hr>
    <h3><span id="adelvir">Adelvir - Josh Foots</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td>Elf, but glowing</td>
            <td>Aasimar</td>
            <td>Warlock/Bard</td>
        </tr>
    </table>
    <hr>
    <h3><span id="ayayron">Ayayron - Evan Mahoney</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td></td>
            <td>Fire Genasi</td>
            <td>Bard</td>
        </tr>
    </table>
    <hr>
    <h3><span id="gisli">Gisli - Steven Walter</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td></td>
            <td>Dwarf</td>
            <td>Barbarian</td>
        </tr>
    </table>
    <hr>
    <h3><span id="krasus">Krasus - Paul Dudley</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td></td>
            <td>Human</td>
            <td>Fighter</td>
        </tr>
    </table>
    <hr>
    <h3><span id="duvu">Duvu - Nick Almond</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td></td>
            <td>Tiefling</td>
            <td>Rogue</td>
        </tr>
    </table>
    <hr>
    <h3><span id="wrench">Wrench - Stephen Phillips</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td></td>
            <td>Warforged</td>
            <td>Paladin/Sorcerer</td>
        </tr>
    </table>
    <hr>
    <h3><span id="akta">Akta - Sara Ferguson</span></h3>
    <table>
        <tr>
            <th>Physical Appearance</th>
            <th>Race</th>
            <th>Class (as Shared)</th>
        </tr>
        <tr>
            <td></td>
            <td>Tiefling</td>
            <td>Sorcerer</td>
        </tr>
    </table>
    <hr>
    <button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" style="background-color: rgb(59, 0, 131)" onclick="window.location.href = '#top'" onmouseover="" style="cursor: pointer;">Top</button>
    </body>
</html>