<!doctype html>
<html>
    <head>
        <title>Recent Recap!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body style="font-size:0.85em;">
        <h1>This is the most recent recap of the adventures of The Revengers of Mesegea of Eturn Prime, a.k.a. Eric's Campaign!</h1>
        <h2>This is the recap for our most recent session, which took place on September 28th, 2022:</h2>
        <p>
			<a>
				Standing in the darkness as the last of the enemies collapses, The Revengers are able to quickly heal Duvu as he loses his footing and then his consciousness.<br>
				Regrouping with the assassins, Ayayron's zombies, and Witha and Smimdap on the second floor, the party asked a few questions of their new guests, dragged a necromancer body into the Portable Hole, offered food to the assassins, and began their treck home!<br>
			</a>
			<a>
				Arriving back at Revenger Tower, the pary quickly dug into a delicious dinner from Ja'ar Visro as the sun rose on the horizon.<br>
				Enjoying the healing properties of a home cooked meal, The Revengers went straight into investigation mode.<br>
				Asking Hades for the body's soul back, they hoped to figure out a few things:<br>
				<ul>
					<li>Who ratted out Smimdap?</li>
					<li>Who replaced them at Getra?</li>
					<li>Do we have to kill you or can you be useful?</li>
				</ul><br>
				And after a moment, the body sat upright, looked around the room, collapsed, before Lurching upright and Gasping for air.<br>
				Wasting no time at all, Adelvir knocked him unconcious and restrained him before queuing up the perfect intimidating threat:<br>
				<a id="quotes">..so we settled on taking his balls first, right?</a><br>
				Using this extra leverage, plus the threat from the Eleusian Mysteries themselves, The Revengers learned:<br>
				<ul>
					<li>The EM HQ is about a half-days hike from the water's edge near Tropolis.</li>
					<li>It is a giant tower, about 8 floors with a functional space on the top to be ~9 floors.</li>
					<li>The Tower is disturbing, made of bones, flesh, and is just kinda gross...</li>
					<li>Udgred has a pet giant worm that eats monsters around the tower.</li>
				</ul><br>
				before getting the necromancer to agree to work with Ayayron on his zombies and teaching him more necromancy.<br>
			</a>
			<a>
				Preempting the party's long rest, an Iris message of <a ariad-describedby="footnote-label" href="#Harold" id="Harold-ref">a short, dark-skinned gnome with a high and tight haircut of a fading purple color</a> appears and tells them:<br>
				<a id="quotes">Hello Revengers,<br>
					I represent the Oracle of Tropolis and you are currently the most well-known mercenary types in town! We have a delicate matter that we believe would be safe in your hands.<br>
					Please meet us at the side entrance to the Palace off of Diemer Boulevarde if you are interested. We can discuss terms and payment in person once there.
				</a><br>
				And before they set out (later that evening), Gisli noticed the forge glowing and getting hotter before spitting out a letter and a weapon, gifted to the Revengers from Hephaestus!<br>
				The letter was very simple, addressed to the Revengers, and only said <a id="letter">Think of this as your last chance, just in case you're too slow.</a><br>
				And the weapon presented differently to everyone:<br>
				<ul>
					<li>Gisli saw a gorgeous and well balanced war hammer,</li>
					<li>Wrench saw the largest and best made wrench,</li>
					<li>Krasus saw a glaive of pure metal that managed to still look balanced</li>
					<li>Ayayron saw a hefty-looking lyre that seemed to double as a mace,</li>
					<li>Duvu saw a thin and powerful looking shortsword,</li>
					<li>and before Adelvir was a spear with a bit of flex and a string tied tightly to each end...almost like a standup bass.</li>
				</ul><br><br>
				On the way to meet their mysterious contact at the palace, Gisli felt the letter grow warm in her pocket and saw it change before her very eyes! The word <a id="letter">chance</a>, etched in the paper thin metal, molded flat and changed to write <a id="letter">resort</a>, before <a ariad-describedby="footnote-label" href="#HLetter" id="HLetter-ref">cooling off</a>.<br>
			</a>
		</p>
		<p>
			<a>
				Finally, making their to town and over to Diemer Boulevarde near the Palace, The Revengers found themselves greeted not by the dark-skinned gnome from the Iris Message but by <a ariad-describedby="footnote-label" href="#Burt" id="Burt-ref">a wire-thin, whispy-looking elf with green hair and long thin ears poking out</a>.<br>
				This individual invited the party inside the palace, leading them around the ground floor for a few moments, finally leading the Revengers into what the elf identifies as the personal chambers for <a ariad-describedby="footnote-label" href="#TOOT" id="TOOT-ref">The Oracle of Tropolis</a>.<br>
				Stepping out from the next room, a pale pink tiefling with short and tightly curled white hair where her short dark purple horns just barely peak through, introduced herself as the Oracle of Tropolis, followed by her Herald, Harold.<br>
			</a>
			<a>
				The Oracle and her Herald presented the Oracle's most recent prophecy, some interesting context regarding the <a ariad-describedby="footnote-label" href="#Icarius" id="Icarius-ref">Former King Icarius</a> (including his escape!), and have asked The Revengers to get him back!<br>
			</a>
		</p>
		<p>
			<h2>The Revengers are hesitant about saying yes and revealing too much information! Have they already overstepped or are they overly cautious?<br>
				Will they take the job?<br>
				Did they even ask about Payment?<br>
				FIND OUT NEXT TIME ONNNNNNN, THE REVENGERSSSSS OF MESEGEAAAAAAA ON ETURN PRIME</h2>
		</p>
		<br>
		<footer>
			<h2 id="footnote-label">Footnotes</h2>
			<ol>
				<li id="Harold">This individual is later identified as "Harold", the Herald to The Oracle of Tropolis.<a href="#Harold-ref" aria-label="Back to content">↵</a></li>
				<li id="HLetter">This leaves the letter saying: <a id="letter">Think of this as your last resort, just in case you're too slow.</a><a href="#HLetter-ref" aria-label="Back to content">↵</a></li>
				<li id="Burt">This individual is later identified as "Burt", the Herald's apprentice.<a href="#Burt-ref" aria-label="Back to content">↵</a></li>
				<li id="TOOT">Everyone in the party would have at least heard of some of the prophecies from the current Oracle, if not having heard the Herald proclaim one directly. She is very young and was selected after a horrific accident that tragically ended the life of the previous Oracle who held the position for several decades prior to that.<a href="#TOOT-ref" aria-label="Back to content">↵</a></li>
				<li id="Icarius">The Former King was a tyrant that played favorites with his city-state before his son, the current King Arsenios, declared war, tearing the kingdom in two. The Third Great War, or The War of Icarius, was a vicious and bloody civil war that eventually led to the kingdom finding peace under King Arsenios. It was not formerly known that he was alive, he simply disappeared after he publicly signed the treaty.<a href="#Icarius-ref" aria-label="Back to content">↵</a></li>
			</ol>
		</footer>
		<br>
		<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
		<button class="button" id="home" onclick="window.location.href = '/dnd/sessions'" onmouseover="" style="cursor: pointer;">Sessions</button>
    </body>
</html>
