<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body style="font-size:0.85em;">
        <h1>This is the most recent recap of the adventures of The Revengers of Mesegea, a.k.a. Eric's Campaign!</h1>
        <h3>This is the recap for our most recent session, which took place on April 21st, 2022:</h3>
        <p>
		<a>Despite being shaken awake by Krasus, who whispered "the boy is back in town" as he did so, <a aria-describedby="footnote-label" href="#all" id="all-ref">The Revengers all</a> awoke surprisingly refreshed, with a fading, odd warmth they can only attribute to the times they've been in the presence of the Gods.</a><br>
		<a>He quickly informed them of his Brand of Castigation's sudden alert and they wasted no time, heading straight for the basement and to the teleportation circle to town.</a><br>
	</p><p>
		<a>Stepping into the foyer, Krasus offered "You there!" as their eyes adjusted to the relatively dim light indoors and saw the elf looking back in surprise and another figure behind him came into view.</a><br>
		<a>Wrench, Adelvir, and Ayayron recognized the elf as Katar Adquinal, Head servant to the Peokias family.</a><br>
		<a>And <u>none</u> of you recognized the tall, half-orc man with light gray skin and sizable tusks that almost reach his flat, wide nose with a faintly-green glowing rapier in his right hand.</a><br><br>
		<a>Though, Krasus' brand magic told him this was still Plequa!</a><br>
	</p><p>
		<a>Diving immediately into combat with a holler <a aria-describedby="footnote-label" href="#quote" id="quote-ref">"Just stand down and we will stop fighting"</a>, Gisli charged straight in, immediately killed Katar and sprinted closer to Plequa.</a><br>
		<a>After several minutes of grueling combat, Plequa and Duvu both laid bloodied, beaten, and broken on the ground.....</a><br><br>
		<a>Duvu, however, was healed a few moments later.</a>
		<a>As Wrench's trident plunged into Plequa's sizable half-orc body, which then collapsed to the ground, his body faded and morphed into a smaller (though still ded), pale man that reminds you of the first face you saw (at the party) though with a few features are more exaggerated now (larger nose, wider mouth, bigger/bulgier eyes).</a><br>
	</p><p>
	<a>To tie off the night, Krasus opened the bag that Katar brought here secretly at nearly midnight,</a><br>
	<a>the bag that Plequa, even while in battle, tried to save...</a><br>
	<a>finding what the party has good reason to believe is a set of golden, _ornamental_ plate armor, à la:<br>
		<a href="{{ url_for('static', filename='Golden_Armor.png') }}">Peokias Ornamental Armor</a>
	</a>
	</p><p>
	</p>
        <br>
	<p>
		<h2>How did Plequa change his face?<br>
		What does this armor <u>do</u>?<br>
		Why would Gemma have given it to Plequa/Udgred?<br>
		FIND OUT NEXT TIME ONNNNNNN, THE REVENGERSSSSS OF MESEGEAAAAAAA</h2>
	</p>
	<footer>
		<h2 id="footnote-label">Footnotes</h2>
		<ol>
			<li id="all">Akta, however, refused to awake! It did not seem malevolent or magical, but she did not rise with the rest.<a href="#all-ref" aria-label="Back to content">↵</a></li>
			<li id="quote">paraphrasing, I don't recall _exactly_ what she said.<a href="#quote-ref" aria-label="Back to content">↵</a></li>
		</ol>
	</footer>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" onclick="window.location.href = '/dnd/sessions'" onmouseover="" style="cursor: pointer;">Sessions</button>
    </body>
</html>
