<!doctype html>
<html>
    <head>
        <title>Recent Recap!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body style="font-size:0.85em;">
        <h1>This is the most recent recap of the adventures of The Revengers of Mesegea of Eturn Prime, a.k.a. Eric's Campaign!</h1>
        <h2>This is the recap for our most recent session, which took place on August 17th, 2022:</h2>
        <p>
			<a>
				Waking as the sun crawled across the horizon, the Revengers settled into breakfast from Ja'ar Visro as Wrench accepted their Iris call update from Rizzo himself.<br>
				Thankfully it appears they paid the right changeling, as he notes they were able to explore the exterior of the building pretty easily and found:<br>
				<ul>
					<li>8 normal looking humanoids</li>
					<li>~25 or so zombies crawling around</li>
				</ul><br>
				All dispersed over what they could see of the exterior of the 2 floors, including the fighting grounds and the 2nd floor seats.<br>
			</a><br>
			<a>
				Taking this info to town, The Revengers started back at the Merchant's Guild, able to secure a meeting with Gemma after a short 30 minute wait.<br>
				Asking for the first of many forms of payment, The Revengers asked Gemma to merely "pay for the same level of Cutter's she hired to take them out". 
				Without even hesitating, Gemma grabs 800pp, puts them in a bag, and hands it right over to The Revengers, "Done. This covered the 7 Hands I hired."<br>
			</a>
			<a>
				Continuing to move quickly, The Revengers headed to the Cutter's Guild to hire 7 Hands for themselves as well.<br>
				Thanks to their good standing with the Guild and the work they asked for, The Cutter's Guild was able to accept 700pp per day as the daily rate.<br>
			</a>
		</p>
		<p>
			<a>
				Choosing speed, The Revengers used their knowledge of the secret tunnels and transportation circles to quickly bring the assassins to the Tower before setting out on foot for the Colosseum.<br>
				After multiple long, boring hours, the sun had set and The Revengers+7 Hands found themselves at the South-Eastern-most entrance to the Colosseum!<br>
			</a>
			<a>
				Pulling a Longbow and his Zombie out of the portable hole, Ayayron prepped for a different type of fighting and told his zombie to lead the way for the sake of secrecy.<br>
				Duvu took up the leading postion for the rest of the Party, behind the zombie, and Wrench told the 7 Hands to find the 2nd floor and handle as much up there as they can.<br>
			</a><br>
			<a>
				After making their way inside, the Hands split from the party, disappearing into the darkness, hopefully to handle things upstairs.<br>
				Quickly and quietly, almost completing a full lap of the interior building surrounding the fighting grounds, Duvu found himself blocked by rubble (which also blocked an exterior door)...<br>
				Except it was an illusion!!! And revealed a masked wizard hiding inside his illusionary rubble!<br>
			</a>
			<a>
				Acting swiftly and quietly (mostly), the Revengers deftly dispatched the dark magician and turn towards the door leading inward...<br>
				Turned towards a waiting Briggox...<br>
			</a>
		</p>
		<p>
			<h2>How successful will the 7 Hands be?<br>
				Are the Revengers properly prepared?<br>
				Is Briggox ready for the fight of his life?<br>
				FIND OUT NEXT TIME ONNNNNNN, THE REVENGERSSSSS OF MESEGEAAAAAAA ON ETURN PRIME</h2>
		</p>
		<br>
		<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
		<button class="button" id="home" onclick="window.location.href = '/dnd/sessions'" onmouseover="" style="cursor: pointer;">Sessions</button>
    </body>
</html>
