<!doctype html>
<html>
    <head>
        <title>Eric's Party!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
    <h1><span id="top">Party Members!</span></h1>
    
    <img src="{{ url_for('static', filename='Band_of_Shocking_Grasp.png') }}" alt="Band_of_Shocking_Grasp" width="50%" height="auto">
    <img src="{{ url_for('static', filename='Glove_of_Appreciation.png') }}" alt="Glove_of_Appreciation" width="50%" height="auto">
    <img src="{{ url_for('static', filename='Ring_of_Feies_Favor.png') }}" alt="Ring_of_feies_Favor" width="50%" height="auto">
    <img src="{{ url_for('static', filename='Ring_of_Finger_guns.png') }}" alt="Ring_of_Finger_guns" width="50%" height="auto">
    <img src="{{ url_for('static', filename='Ring_of_Frost.png') }}" alt="Ring_of_Frost" width="50%" height="auto">
    <img src="{{ url_for('static', filename='Ring_of_the_Mimic.png') }}" alt="Ring_of_the_Mimic" width="50%" height="auto">
    <img src="{{ url_for('static', filename='Witchs_Ring.png') }}" alt="Witchs_Ring" width="50%" height="auto">

    <hr>
    <button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" style="background-color: rgb(59, 0, 131)" onclick="window.location.href = '#top'" onmouseover="" style="cursor: pointer;">Top</button>
    </body>
</html>