<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
	<h1><span id="top">Sessions</span></h1>
	<button href="#zero" class="button" id ="sessions" onclick="window.location.href = '#zero'">0</button>
	<button href="#one" class="button" id ="sessions" onclick="window.location.href = '#one'">1</button>
	<button href="#two" class="button" id ="sessions" onclick="window.location.href = '#two'">2</button>
	<button href="#three" class="button" id ="sessions" onclick="window.location.href = '#three'">3</button>
	<button href="#four" class="button" id ="sessions" onclick="window.location.href = '#four'">4</button>

	<h2><span id="zero">Session Zero</span></h2>
        <p>
	    Presented <a href='/dnd/backstory'>the backstory</a>, the <a href='/dnd/character'>character creation details</a>, and some of the <a href='/dnd/setting'>setting details</a>!</p>
	<br>
	<hr>
	<br>
	<h2><span id="one">Session One</span></h2>
	<p>
	    <a href='/dnd/party'>The gang</a>a> was deposited at the castle, told to <i>"explore the whole thing and light a fire within view of the village for rescue"</i>.<br>
	    Solved a puzzle in the fountain to open the door.<br>
	    Explored 4 rooms, 3 stairwells, and a hidden hallway on the ground floor.<br>
	    The basement contained a prison as well as a hidden portal that reset the players to when they first entered the castle.<br>
	    And the second floor contained 8 bedrooms, with 3 portals to a mystical version of the bedrooms, two with monsters and the third contained a Tiefling friend!<br>
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="two">Session Two</span></h2>
	<p>
	    <a href='/dnd/party'>The gang</a> decided to headup one of the main spiral staircases (rather than our Hidden set they used to get here).<br>
	    As they climbed, everyone felt a very odd sensation, though could not identify anything wrong, and finished the climb to the next floor.<br>
	    Here they found a similar layout as the last floor, just with offices instead of bedrooms!<br>
	    Here they found portals, that lead them to more fights and some silver, as well as a journal that told them the inhabitants were from 200 years prior.<br>
	    After finishing that floor, they climbed the grand staircase to the Throne Room!<br>
	    They had a...less than helpful conversation with a Kenku named Yordar and then proceeded to kill his kobold soldiers before lighting a fire in teh window and heading back down to await pickup!<br>
	</p>
	<br>
	<hr>
	<br>
	<h2><span if="three">Session Three</span></h2>
	<p>
		<a href='/dnd/party'>Our adventurers</a> lit the required fire in late evening and rested the night away before being collected by Uzul in the morning.<br>
		He informed them that news had ALREADY spread of their success and adventure with requests coming in for heros! They set off immediately!<br>
		They headed to Elytos, where the local University's all centaur frat, ΗΟΡΣE, need help cleaning their toilet(basement) and the party decided to leave for Demaphos instead.<br>
		Demaphos had need of catching a lion, which they visited the cave of after meeting Lieutenant Daniel Pickles.<br>
		The party got split in a maze inside the cave and teh Lion attacked!!!<br>
		After killing the lion, it was revealed that Lt. Pickles was a Werelion who worked his way into the Police Force to stay secret!<br>
		The Party collected the payment (637 gp) from the Captain and headed home to Hose!<br>
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="four">Session Four</span></h2>
	<p>
		FLASHBACK TO THE ROAD TO ELYTOS<br>
		ALL THE ROLE-PLAYING
	</p>
	<br>
	<hr>
	<br>
	<button class="button" id="home" style="background-color: rgb(146, 212, 0)" onclick="window.location.href = '/dnd/story'" onmouseover="" style="cursor: pointer;">For More Details of our Adventures</button>
	<hr>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" style="background-color: rgb(59, 0, 131)" onclick="window.location.href = '#top'" onmouseover="" style="cursor: pointer;">Top</button>
    </body>
</html>
