<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
	<h1><span id="top">Sessions</span></h1>
	<button href="#zero" class="button" id ="sessions" onclick="window.location.href = '#zero'">0</button>
	<button href="#one" class="button" id ="sessions" onclick="window.location.href = '#one'">1</button>

	<h2><span id="zero">Session Zero</span></h2>
        <p>
	    Presented <a href='/dnd/backstory'>the backstory</a>, the <a href='/dnd/character'>character creation details</a>, and some of the <a href='/dnd/setting'>setting details</a>!</p>
	<br>
	<hr>
	<br>
	<h2><span id="one">Session One</span></h2>
	<p>
	    The gang was deposited at the castle, told to <i>"explore the whole thing and light a fire within view of the village for rescue"</i>.<br>
	    Solved a puzzle in the fountain to open the door.<br>
	    Explored 4 rooms, 3 stairwells, and a hidden hallway on the ground floor.<br>
	    The basement contained a prison as well as a hidden portal that reset the players to when they first entered the castle.<br>
	    And the second floor contained 8 bedrooms, with 3 portals to a mystical version of the bedrooms, two with monsters and the third contained a Tiefling friend!<br>
	</p>
	<br>
	<hr>
	<br>
	<button class="button" id="home" style="background-color: rgb(146, 212, 0)" onclick="window.location.href = '/dnd/story'" onmouseover="" style="cursor: pointer;">For More Details of our Adventures</button>
	<hr>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" style="background-color: rgb(59, 0, 131)" onclick="window.location.href = '#top'" onmouseover="" style="cursor: pointer;">Top</button>
    </body>
</html>
