<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
	<h1><span id="top">Sessions</span></h1>
	<button href="#zero" class="button" id ="sessions" onclick="window.location.href = '#zero'">0</button>
	<button href="#one" class="button" id ="sessions" onclick="window.location.href = '#one'">1</button>
	<button href="#two" class="button" id ="sessions" onclick="window.location.href = '#two'">2</button>
	<button href="#three" class="button" id ="sessions" onclick="window.location.href = '#three'">3</button>
	<button href="#four" class="button" id ="sessions" onclick="window.location.href = '#four'">4</button>
	<button href="#five" class="button" id ="sessions" onclick="window.location.href = '#five'">5</button>
	<button href="#six" class="button" id ="sessions" onclick="window.location.href = '#six'">6</button>
	<button href="#seven" class="button" id ="sessions" onclick="window.location.href = '#seven'">7</button>
	<button href="#eight" class="button" id ="sessions" onclick="window.location.href = '#eight'">8</button>
	<h2><span id="zero">Session Zero</span></h2>
        <p>
	    Presented <a href='/dnd/backstory'>the backstory</a>, the <a href='/dnd/character'>character creation details</a>, and some of the <a href='/dnd/setting'>setting details</a>!</p>
	<br>
	<hr>
	<br>
	<h2><span id="one">Session One</span></h2>
	<p>
	    <a href='/dnd/party'>The gang</a> was deposited at the castle, told to <i>"explore the whole thing and light a fire within view of the village for rescue"</i>.<br>
	    Solved a puzzle in the fountain to open the door.<br>
	    Explored 4 rooms, 3 stairwells, and a hidden hallway on the ground floor.<br>
	    The basement contained a prison as well as a hidden portal that reset the players to when they first entered the castle.<br>
	    And the second floor contained 8 bedrooms, with 3 portals to a mystical version of the bedrooms, two with monsters and the third contained <a href="/dnd/party#akta">a Tiefling friend!</a><br>
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="two">Session Two</span></h2>
	<p>
	    <a href='/dnd/party'>The gang</a> decided to headup one of the main spiral staircases (rather than our Hidden set they used to get here).<br>
	    As they climbed, everyone felt a very odd sensation, though could not identify anything wrong, and finished the climb to the next floor.<br>
	    Here they found a similar layout as the last floor, just with offices instead of bedrooms!<br>
	    Here they found portals, that lead them to more fights and some silver, as well as a journal that told them the inhabitants were from 200 years prior.<br>
	    After finishing that floor, they climbed the grand staircase to the Throne Room!<br>
	    They had a...less than helpful conversation with a Kenku named Yordar and then proceeded to kill his kobold soldiers before lighting a fire in the window and heading back down to await pickup!<br>
	</p>
	<br>
	<hr>
	<br>
	<h2><span if="three">Session Three</span></h2>
	<p>
		<a href='/dnd/party'>Our adventurers</a> lit the required fire in late evening and rested the night away before being collected by Uzul in the morning.<br>
		He informed them that news had ALREADY spread of their success and adventure with requests coming in for heros! They set off immediately!<br>
		They headed to Elytos, where the local University's all centaur frat, ΗΟΡΣE, need help cleaning their toilet(basement) and the party decided to leave for Demaphos instead.<br>
		Demaphos had need of catching a lion, which they visited the cave of after meeting Lieutenant Daniel Pickles.<br>
		The party got split in a maze inside the cave and the Lion attacked!!!<br>
		After killing the lion, it was revealed that Lt. Pickles was a Werelion who worked his way into the Police Force to stay secret!<br>
		The Party collected the payment (637 gp) from the Captain and headed home to Hose!<br>
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="four">Session Four</span></h2>
	<p>
		This was our PC Intro session!<br>
		We roleplayed the road to Elytos! There were 2 days of uninterrupted horseback riding.<br>
		Our players introduced themselves, <a href="/dnd/party">giving a brief bit of info about themselves</a> before moving on to asking questions, learning about each other, and just roleplaying together!
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="five">Session Five</span></h2>
	<p>
		<a href="/dnd/party">Our wacky crew of adventurers</a> were instructed to give the horses a rest before heading off on their next heroic quest -- To Help the Mad Cows of Philonia, before their Festival of Phaethusa!<br>
		On the road they fought, and killed, two owlbear cubs but with no mother in sight, the party rested up and continued on to Philonia, arriving the morning Of the Festival!<br>
		Wasting no time at all the party investigated the cows and their field and saw just how mad they were - Wrench got bit on the hand trying to heal one!<br>
		They saw that the local Hat Factory (which provides fanciful, and slightly magic, hats to the Hattery In Town) was upstream from the main water source for the cows and thought they should investigate the Hattery and then the Factory as well.<br>
		Pissed off the Hatter (Todd) but <a href="/dnd/party#duvu">Duvu</a> stole a Violently Purple Top Hat fitted Perfectly to <a href="/dnd/party#adelvir">Adelvir</a>, before they were kicked out of course!<br>
		At the factory, they stood a better chance, as <a href="/dnd/party#akta">Akta</a> was able to charm the floor manager, Polo Fleetfoot, into showing them the main factory floor -- AND the restricted section where they have their R&D department!<br>
		Upstairs in R&D, they met a Half-orc Wizard named Gerta who informed them of the weather proofing potion and its Maddening side effects!!!<br>
		Akta, having charmed him still, was able to learn from Polo that the factory simply washed away the leftover potion and dumped it into the stream every night, thereby discovering the exact cause of the Mad Cows!<br>
		Adelvir had already taken it upon himself to flirt up a storm with Gerta and managed to convince her to give them the antidote for free to fix the cows, figure out a safer way to magically weather-proof the hats, AND sleep with him!<br>
		As thanks for discovering this, and fixing it, the Mayor of Philonia provided them his sigil, informing them that they need only show that to any vendor tonight at the festival and they would be paid for!<br>
		As the final thanks, the Wonderful Organizer of the Festival, Alyssa, encouraged them to stay for the Festival and provided them the 300 gold pieces that she, the ranchers, and others in the village were able to scrape together as thanks!<br>
	</p>
	<br>
	<h2><span id="six">Session Six</span></h2>
	<p>
	After much drinking and enjoying themselves at the Festival, the party made their way home to Hose! Once they arrived, they found that Uzul had an advisor from the village named Cebeus...That not everyone recognized, despite the insistance that he'd been living in Hose for years...
	Cebeus indicated that he knew what could help get rid of the castle in the field! The party would need to find the "Amulet of Ichor", which he believes to be in the <b>Labyrinth Of Dawnrise</b> under the Temple to Eos (which turned out to be under the Temples to Artemis and Apollo! in Tropolis! But he didn't think they were ready yet! They should go handle the Dirty Bathroom in Elytos first.
	They were successful in cleaning it up and then found a hidden temple of sorts underground! Where they made their way through puzzles and collected a bag of magic rings and also discovered a secret Dark Light Candle.
	Upon completion of this task, Cebeus sent tehm off to Find the Amulet of Ichor!
	After some investigation, the party forced their way into the back of the temple to Artemis and found a secret entrance to the Temple of Eos, literally underground the temple.
	The <b>Labyrinth Of Dawnrise</b> turned out to be a series of randomly generated challenges that the party had to navigate. Once through they were invited to sign the book at the end to indicate they won, they completed. This is when they settled on the party name: <b>The Revengers</b>!
	They were also able to trade items with the prize bucket (a literal bucket of magic items) and actually brought enough with them that they could take everything from the bucket, and still leave items behind!
	With the Amulet of Ichor in hand, the party tried to return to Hose, but were intercepted by the mysterious Cascade Circle, who tried to scare them off from working with Cebeus earlier.
	The Circle convinced the party that Cebeus was not who he said he was before tasking them with returning with him.
	This led the party to demand a feast in their honor from Uzul, who met their demands, in order to distract Cebeus and try to confront him in public.
	Before the Revengers could complete their plan, Cebeus picked up on it and fled to his castle!
	Thanks to Wrench's magic helmet, The Revengers could keep up with him and therefore were brought with him when he traveled back in time to escape them!!!
	Once they arrived in the past, the party chased Cebeus through the edge of the battle into town where he was trying to collect an item from the past (The Staff of Zeus, which historically went missing at this battle).
	Once inside the temple to Zeus in town, The Revengers actually talked Cebeus down from killing them and continuing his investigation to revive his dead love.
	They did such a thorough job, that he came peacefully and took them back to their time in order to meet with the Cascade Circle.
	</p>
	<br>
	<h2><span id="seven">Session Seven</span></h2>
	<p>
	The Revengers return Cebeus to The Cascade Circle, who decide they will need 3 days to determine his fate. They will provide enough for the team to sleep and eat for those 3 days in Tropolis, for they will have that time to decide what their reward will be. They each get to choose between 250 GP or choose and item from their inventory to be improved by the Circle.
	The entire party decides to have something improved, thought Krasus specifies how important his Glaive is. If they would be unable to leave it exactly the same it is, he would rather they leave it alone entirely.
	<ul>
		<li>Gisli heard one of her grandsons (Jyota Burdinger) was in the guild district, which most people were surprised about because they'd all heard he was dead.</li>
		<li>Krasus asked a local merchant about the King and government of today. He had generally positive things to say, though he hasn't seen the king as much lately and hes heard rumors of some shit towards Getra.</li>
		<li>Adelvir had Gisli create him a separate-able double ended spear (this became the weapon he got improved by the circle). He also communed with Nyx to learn some information regarding the God of the Underworld and Getra.</li>
		<li>Wrench investigated his past, visiting the temple to Hephaestus and speaking with a temple clerk. They indicated he might not be the original Hephaestus created Warforged, but he does seem older than the current models.</li>
		<li>Finally, Akta went shopping for a new cloak as she was still wearing her indentured servent outfit from 30 years ago.</li>
	</ul>
	</p>
	<p>
	The Cascade Circle was able to upgrade everyone's equipment and announced that they decided to rehabilitate Cebeus as they believed his remorse and believed that he could recover from this.
	The party then began looking into jobs and found a thieves guild that is okay with colateral damage (fire, specifically) The Hands of Hephaestus. They gave them membership (and some gold) to go investigate their partners in Getra, The Eleusian Mysteries, who take care of the bodies The Hands generate, but they've been ASKING for bodies lately.
	Teleporting closer, The Revengers then rented horses and headed to Getra to investigate...
	</p>
	<br>
	<h2><span id="eight">Session Eight</span></h2>
	<p>
	Arriving in Getra, the party found their way to The Boar's Inn, the local tavern, and with some money...and "The Look"...the barkeep, Witha, told them that everyone is in on the things going on.
	They then followed her advice and made their way to what they'd learn is Town Hall! Thanks to a nice enough half-gnome receptionist (whose name the party didn't get) they have an appointment with Ruksha (someone in Town Hall) at 4pm on Friday (it was Tuesday midday). 
	The Revengers then made their way to the Police Department (right next door) to file a false missing persons report for a "large man with brown hair and brown eyes named Phil because he 'fills a doorway'" in order to try and get more information about missing persons from the Police. Unfortunately the polcie was not exactly willing to share info.
	Trying to follow up on the dead bodies and missing people/bodies, the party tried to be more direct and find a shady seller at the market and instead found the town drunk, Din Starborn, a diminuitive Kobold! Din, under some nice cajoling, unloaded a lot of weight onto the party. The fact that everyone in town is in on it because they were forced to make a decision 4ish years ago: Join them or Die. He also told them that Kinstus is the local leader.
	The party delivered Din to the bar, as he requested, but Krasus paid Witha a gold piece to house Din for a few days and to not give him any alcohol...let him sober up. She accepted.
	Following one of the last bits of evidence they had at the moment, they moved to the Mausoleum, the place all dead bodies in town should go first. They encountered a tall, bright red Tiefling woman working there. She welcomed them in and tried to answer their questions about "their missing friend Phil" and any extra bodies coming through but when she didn't give them what they wanted, Akta read her mind and found more evidence to investigate the Tomb outside of town. After Akta was done reading her mind, the Tiefling kicked them out yelling at her about reading her mind!
	</p>
	<br>
	<hr>
	<br>
	<button class="button" id="home" style="background-color: rgb(146, 212, 0)" onclick="window.location.href = '/dnd/story'" onmouseover="" style="cursor: pointer;">For More Details of our Adventures</button>
	<hr>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" style="background-color: rgb(59, 0, 131)" onclick="window.location.href = '#top'" onmouseover="" style="cursor: pointer;">Top</button>
    </body>
</html>
