<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
        <ul>
            <li>Hose</li>
            <ul>
                <li>A small village of a hundred or so past, present, or future adventurers.</li>
                <li>On the outskirts of Tropolis!</li>
            </ul>
            <li>Tropolis</li>
            <ul>
                <li>A large city with satellite villages surrounding it</li>
                <li>Centered near the River Chalcedon and the nearby Mountain Range near where these meet the Sea</li>
            </ul>
            <div class="row">
                <img class="column" src="{{ url_for('static', filename='Tropolis.jpg') }}" alt="Map of Tropolis" width="15%" height="auto" href="{{ url_for('static', filename='Tropolis.jpg') }}">
                <table class="column">
                    <tr><th colspan="2">Legend</th></tr>
                    <tr>
                        <th>Identifier</th>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Old Tropolis</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Upper Class District</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Market District</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Guild District</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Middle Class District</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Religious Housing District</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Low Class District</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Art District</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Police District</td>
                    </tr>
                </table>
            </div>
            <li>Moonshadow Field</li>
            <ul>
                <li>Common grazing field for Hose</li>
            </ul>
            <li>Catterborough Keep</li>
            <ul>
                <li>Mysterious Castle that Appeared in the middle of Moonshadow Field</li>
            </ul>
            <li>Oractus Bluff</li>
            <ul>
                <li>Large mountains on the otherside (NorthEast) of Moonshadow Fields from Hose</li>
                <li>Separates the Greater Tropolis Area from the Halcyone Sea</li>
                <li>Known to house several Dwarven Clans</li>
            </ul>
            <li>Elytos</li>
            <ul>
                <li>One of the four Inner Ring Towns</li>
                <li>Home of Tropolis University</li>
                <li>Home of the ΗΟΡΣΕ Fraternity!</li>
            </ul>
            <li>Philonia</li>
            <ul>
                <li>One of the eight surrounding villages (like Hose)</li>
                <li>Known as the farming srrounding village.</li>
                <li>Known for its annual "Running Of The Cows" Festival.</li>
            </ul>
            <li>Demaphos</li>
            <ul>
                <li>Another Inner Ring Towns</li>
                <li>Tropolis' Police Academy is housed here</li>
                <li>Recently had a problem with a WereLion.</li>
            </ul>
            <div class="row">
                <img class="column" src="{{ url_for('static', filename='Greater_Tropolis_Map.jpg') }}" alt="Map of the Tropolis area" width="25%" height="auto" href="{{ url_for('static', filename='Greater_Tropolis_Map.jpg') }}">
                <table class="column">
                    <tr><th colspan="3">Legend</th></tr>
                    <tr>
                        <th>Identifier</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                    <tr>
                        <td>T</td>
                        <td>Tropolis</td>
                        <td>Core City</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>Hose</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>Apodes</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Philonia</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>Potens</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>Getra</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td>Pellokampos</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>G</td>
                        <td>Eroy</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>H</td>
                        <td>Lapinia</td>
                        <td>Protecting Village</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Demaphos</td>
                        <td>Inner Town</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ricus</td>
                        <td>Inner Town</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Elytos</td>
                        <td>Inner Town</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Ptelios</td>
                        <td>Inner Town</td>
                    </tr>
                </table>
                <table class="column">
                    <tr><th colspan="3">Travel Times</th></tr>
                    <tr>
                        <th>Starting Place</th>
                        <th>Ending Place</th>
                        <th>Travel Times</th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>T</td>
                        <td>1.5 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>3</td>
                        <td>2 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>2</td>
                        <td>2 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>C</td>
                        <td>2 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>G</td>
                        <td>2 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>1</td>
                        <td>1 Day</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>4</td>
                        <td>1 Day</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>H</td>
                        <td>1 Day</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>B</td>
                        <td>1 Day</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>F</td>
                        <td>3 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>D</td>
                        <td>3 Days</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>E</td>
                        <td>4 Days</td>
                    </tr>
                </table>
            </div>
        </ul>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
    </body>
</html>
