<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
        <ul>
            <li>Hose</li>
            <ul>
                <li>A small village of a hundred or so past, present, or future adventurers.</li>
                <li>On the outskirts of Tropolis!</li>
            </ul>
            <li>Tropolis</li>
            <ul>
                <li>A large city with satellite villages surrounding it</li>
                <li>Centered near the River Chalcedon and the nearby Mountain Range near where these meet the Sea</li>
            </ul>
            <img src="{{ url_for('static', filename='Tropolis.jpg') }}" alt="Map of Tropolis" width="15%" height="auto" href="{{ url_for('static', filename='Tropolis.jpg') }}">
            <li>Moonshadow Field</li>
            <ul>
                <li>Common grazing field for Hose</li>
            </ul>
            <li>Catterborough Keep</li>
            <ul>
                <li>Mysterious Castle that Appeared in the middle of Moonshadow Field</li>
            </ul>
            <li>Oractus Bluff</li>
            <ul>
                <li>Large mountains on the otherside (NorthEast) of Moonshadow Fields from Hose</li>
                <li>Separates the Greater Tropolis Area from the Halcyone Sea</li>
                <li>Known to house several Dwarven Clans</li>
            </ul>
            <li>Elytos</li>
            <ul>
                <li>One of the four Inner Ring Towns</li>
                <li>Home of Tropolis University</li>
                <li>Home of the ΗΟΡΣΕ Fraternity!</li>
            </ul>
            <li>Philonia</li>
            <ul>
                <li>One of the eight surrounding villages (like Hose)</li>
                <li>Known as the farming srrounding village.</li>
                <li>Known for its annual "Running Of The Cows" Festival.</li>
            </ul>
            <li>Demaphos</li>
            <ul>
                <li>Another Inner Ring Towns</li>
                <li>Tropolis' Police Academy is housed here</li>
                <li>Recently had a problem with a WereLion.</li>
            </ul>
            <img src="{{ url_for('static', filename='Greater_Tropolis_Map.jpg') }}" alt="Map of the Tropolis area" width="25%" height="auto" href="{{ url_for('static', filename='Greater_Tropolis_Map.jpg') }}">
            <img src="{{ url_for('static', filename='Greater_Tropolis_Legend.jpg') }}" alt="Legend for the Map of the Tropolis area" width="25%" height="auto" href="{{ url_for('static', filename='Greater_Tropolis_Legend.jpg') }}">
        </ul>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
    </body>
</html>
