<!doctype html>
<html>
    <head>
        <title>Eric's Campaign!</title>
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    </head>
    <body>
        <h1>This is information and notes for Eric's Campaign!</h1>
	<h1><span id="top">Sessions</span></h1>
	<button href="#zero" class="button" id ="sessions" onclick="window.location.href = '#zero'">0</button>
	<button href="#one" class="button" id ="sessions" onclick="window.location.href = '#one'">1</button>
	<button href="#two" class="button" id ="sessions" onclick="window.location.href = '#two'">2</button>
	<button href="#three" class="button" id ="sessions" onclick="window.location.href = '#three'">3</button>
	<hr>
	<h2><span id="zero">Session Zero</span></h2>
        <p>Presented <a href='/dnd/backstory'>the backstory</a>, the <a href='/dnd/character'>character creation details</a>, and some of the <a href='/dnd/setting'>setting details</a>!</p>
	<br>
	<hr>
	<br>
	<h2><span id="one">Session One</span></h2>
	<p>
	    Quick refresher of session <a href="#zero">zero</a> and then moving onto new content!<br>
	    They were informed they had until the next sunrise to prepare to enter the castle, so go home, say goodbye and pack your bags.<br>
	    Uzul, being a devious, untrustworthy leader decided he didn't trust THEM to not bail and orded them to be drugged/hit over the head and kidnapped (with their gear) late in the night to be dropped in the courtyard of the castle to start their day!<br>
	    They all awoke with a headache, all of their gear, and a voice ringing above their heads <i>"Explore the castle, Make your way to the top, and light a Fire that we can see from the village! We will come get you then!"</i>
	</p>
	<p>
            They all began to explore the courtyard finding lots of dirt, a little grass, a dry fountain, and a LARGE set of Wooden Double Doors blocking the entrance to the castle<br>
	    Despite a few attempts, the doors did not seem to budge and knocking did nothing as well.<br>
	    <img src="{{ url_for('static', filename='courtyard.jpg') }}" alt="courtyard" width="50%" height="auto"><br>
	    After looking at the door closer, they saw a faded inscription of a fountain!!!<br>
	    This lead them to investigate the dry fountain, where they found a puzzle! This puzzle, once solved, read <i>"Those that wish to enter here must but say mine name. That which naught but few know. I am called The Catterborough Keep"</i><br>
	    At this point the Large doors swung open with ease!
	</p>
	<h2>Enter Catterborough Keep!</h2>
	<h3>Ground Floor:</h3>
	<p>
	    The cast of misfits enters the castle, with Wrench Charging forward!!!<br>
	    As Wrench enters the main room screaming <i>"VENGENCE!"</i>, our adventurers hear this echo through lots of halls and what sounds kind of like a small echo of a door shutting somewhere...<br>
	    Before them lies what was once a Beautiful entry hall! 6 wooden doors and an impressive Stairwell across the hall! Lots of red carpet covering the limestone floor...mostly. It is threadbare and worn through in most places. This place has HAD its hayday, and that time is not now.<br>
	    The team began to explore the rooms!<br>
	    <ol>
		    <li>They entered the middle door on the right first and found a Library! Though not much was there, just some low level magic books</li>
		    <li>Then the door on the end on the left to find a servent quarters! Lots of beds, but the only thing they found (they being Duvu) was 9 copper pieces, a blank scroll, and a jar of piss!</li>
		    <li>Gisli went on her own to find the kitchen behind the door on the end on the right. She found some Very old rations but just scraped off the mold to take with her in a baggy.</li>
		    <li>Krasus also went on to explore on his own and found a stairwell that led DOWN, behind the first door on the right.</li>
		    <li>The group then found a small broom closet behind the middle door on the left! Wrench decided to slam his hammer into the back of the closet (just in case) and found it Collapse into a secret hallway!!!! Before continuing down this hallway:</li>
		    <li>They checked the final door, which showed a stairwell that led UP</li>
            </ol>
	    They did discover a <i>secret hallway</i> that ran behind each of the rooms (with a hidden door into each).<br>
	    This also had a spiral staircase that goes up and down! Our Party ventured DOWN....
	</p>
	<h3>Down to the Basement</h3>
	<p>
  	    As they finish climbing down the stairs, our party found themselves in a very small room with nothing but a door behind them and a blue glowing magical <i>thing</i><br>
	    <img src="{{ url_for('static', filename='portals.jpg') }}" alt="portals" width="50%" height="auto"><br>
	    Our wonderful bard, Ayayron, was able to recognize it as some kind of portal but couldn't make any further distinction! So the party decided to head through the door instead<br>
	    This door lead to what appears to be a run down guardroom, where the team found some tepid, flat beer and a door leading to a very disturbing, optical illusionary maze of prison cells!<br>
	    Deciding they would rather figure out the portal instead of the maze, the party sprinted through the portal!
	</p>
	<h3>Back to the Ground Floor</h3>
	<p>
	    As the world fades to black for everyone, they quickly come back to their senses....back in the entry way of the large wooden doors on the ground floor. None of the doors are open (like they left them) and they even hear Wrench's echo of <i>"VENGENCE!"</i> echo back at them...almost as if they had just charged through the doors for the first time....<br>
 	    <br>
  	    After a brief pause to gather their wits, the party opened all the doors to make sure everything was the same, briefly noting that anything they took is gone but everything else is back to as it was before, and headed back down to check that the portal was still there (it was)<br>
	    Adelvir decided it would be fun to charge through again, but after disappearing for a moment, the portal seems to...spit him back out. Almost seems like it waited for the rest of the party to follow before timing out...<br>
	    At this, they charge back up the Hidden stairs! Heading up past the ground floor and onto the second floor!
	</p>
	<h3>Finally moving up to the second floor</h3>
	<p>
	    As our the head of our train up the stairs finishes climbing the stairs, Wrench hears a noise but is unable to note what made it or even really where it came from...<br>
	    The party rounds the dark corner and see 4 doors...each with 2 holes in them, around eye level<br>
	    Entering each of these doors one at a time, the team found several bedrooms that, like downstairs, appeared as if they were once very nice. Two of these four rooms also included two portals!!! Much like the one in the basement, but a yellowish glow, instead of blue.<br>
	    In these portals, our adventurers found two different things:<br>
	    <img src="{{ url_for('static', filename='bedroom.jpg') }}" alt="bedroom" width="50%" height="auto"><br>
	    <ol>
	        <li>A battle with 5 flying ice creatures</li>
		<li>A new friend!</li>
	    </ol>
	    In the second of these portals, a tiefling stood with their back to the portal, almost as if they had just entered it.<br>
	    Akta, the tiefling, agreed to join the party as her own had been murdered shortly after entering the castle!<br>
	    The, now larger, party swung around to the other side of the floor to find the same pattern of four doors with two wholes each, leading into beadrooms, though only a single portal to be found this time.<br>
	    After dealing with the single muddy creature in this portal the group decided to rest in this bedroom briefly to catch their breath.
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="two">Session Two</span></h2>
	<p>
		Awakening from a small nap, quick rest, short pause, the party moved up one of the primary spiral staircases!<br>
		As they headed up the stairs, everyone felt an odd feeling that none of them could explain. But they continued up to the next landing, where everything appeared to be very similar to the last floor.<br>
		There were four doors and a large staircase, but headed UP!<br>
		The part explored the doors first, finding Offices instead of bedrooms.<br>
		<img src="{{ url_for('static', filename='offices.jpg') }}" alt="offices" width="50%" height="auto"><br>
		There were 3 more of these yellowish portals:
		<ol>
			<li>A battle with several Flying smoke creatures</li>
			<li>some silver and paper</li>
			<li>Another battle with a few flying mud creatures</li>
		</ol>
		Finally, our party moved up to the throne room!<br>
		Yordar, the kenku
		7 kolbold soldiers
		lit the Fire
		went down and out to sleep
	</p>
	<br>
	<hr>
	<br>
	<h2><span id="three">Session Three</span></h2>
	<p>
		Content
	</p>
	<button class="button" id="home" onclick="window.location.href = '/dnd/'" onmouseover="" style="cursor: pointer;">Home</button>
	<button class="button" id="home" style="background-color: rgb(59, 0, 131)" onclick="window.location.href = '#top'" onmouseover="" style="cursor: pointer;">Top</button>
    </body>
</html>
