body {
  background-color: rgb(220, 220, 220);
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 1.5em;
  /**
   * this is for a footnote counter wherever I want it
   */
  counter-reset: footnotes;
}
/**
 * Below section is Just for footnote counting
 */
/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
a[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
a[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']'; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: blue; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
a[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
	font-size: 0.8em;
}

footer :target {
	background: rgb(199, 48, 50)
}
/**
 * end of footnote counting section
 */

.button {
  text-align: center;
  font-size: 1.5em;
  font-family: "sans-serif";
  color: white;
  width: 45%;
  padding: 1%;
  display: inline;
}
form {
  display: inline
}
#sessions {
  background-color: rgb(204, 0, 0);
  width: 5%;
  font-size: 1em;
}
#party {
  background-color: rgb(204, 0, 0);
  width: 10%;
  font-size: 1em;
}
#home {
  background-color: rgb(0, 122, 135)
}
#important {
  background-color: rgb(146, 212, 0);
}
#letter {
  background-color: rgb(226, 222, 208);
}
table, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  white-space: pre;
  word-wrap: break-all;
}
td {
  font-weight: normal;
}

.column {
  float: left;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
