<!doctype html>
<html>
  <head>
    <title>Cast!</title>
    <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
           background-color: rgb(220, 220, 220);
           font-family: "sans-serif";
           font-size: 1em;
           }
      table, tr {
	        border: 1px solid black;
	        border-collapse: collapse;
	        }
      th, td {
	     border: 1px solid black;
	     border-collapse: collapse;
	     padding: 5px;
	     white-space: pre;
	     word-wrap: break-all;
	     }
    </style>
  </head>
  <body>
    <p style="font-weight: bold;">
      You cast <strong style="font-size: 2em;color: rgb(0, 185, 228)">
        {{ cast }}
      </strong> which means:
    </p>
    {{ details }}
    <form action="/tisi/casting/v3/">
      <input style='text-align: center;font-size: 1.5em; font-family: "sans-serif";color: white;width: 35%; padding: 1%; background-color: rgb(204,0,0); font-weight: bold' type="submit" value="Another!" />
    </form>
    <h3>Don't forget that Now that Tisi has cast a spell, you can have me roll for <a href="https://www.dndbeyond.com/classes/sorcerer#WildMagic">Wild Magic!</a></h3>
  </body>
</html>
