<!doctype html>
<html>
  <head>
    <title>Sufit Roerc-Tisi</title> 
    <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
  </head>
  <body>
    <h1>Sufit Roerc-Tisi</h1>
    <a href="https://www.heroforge.com/load_config=5756875/"><img src="{{ url_for('static', filename='Tisi.png') }}" alt="Tisi" width="50%" height="auto"></a>
    <h2>Base Details</h2>
    <ul>
      <li>Tisi is a <a href="https://waveoftransmutation.obsidianportal.com/wikis/taracot">Taracot Male.</a></li>
      <li>Tisi is a Sufit (Hand, a.k.a. Lowest Tier or builders) of the Roerc family.</li>
      <li>Tisi has recently discovered that he has magical powers!</li>
      <li>Tisi was banished, forever, but believes he was simply sent on a quest to earn repentence.</li>
      <li>Tisi is not very bright.</li>
    </ul>
    <hr>
    <h2>More Specifics!</h2>
    <p>Looks:
      <ul>
        <li>5'6"</a></li>
        <li>Dark, earthy Brown Skin</li>
        <li>Orange Hair, short but messily done up</li>
      </ul>
    </p>
    <p>Magic
      <ul>
        <li>Being a new Magic user and having Extremely limited interactions with magic users till now (Most Taracot magic users are Sulur (Highparents)), Tisi is extraordinarily unfamiliar with magic.</li>
	<li>Tisi, being very foolish, wants to pretend he has control, so typically brazenly blasts his magic forward, though does take some consideration and tries to wait till he thinks no one will unintentionally get hit.</li>
	<li>As he applies some mental effort and pushes toward his target, a spell or cantrip appears to be chosen at random (see Here: <button onclick="window.location.href = '/tisi/casting/v2/'" onmouseover="" style="cursor: pointer;display: inline;">MAGIC</button>).</li>
      </ul>
    </p>
    <hr>
  </body>
</html>
